<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | Admin</title>

<!--         <link rel="stylesheet" type="text/css" href="asset/css/style.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="awesome/css/font-awesome.css">
-->
<!-- core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/font-awesome.min.css" rel="stylesheet">
<link href="css/animate.min.css" rel="stylesheet">
<link href="css/prettyPhoto.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
</head><!--/head-->

<body class="homepage">

    <header id="header">

        <nav class="navbar navbar-inverse" role="banner">
            <div class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <h1 class="navbar-brand">CACAO TALK</h1>
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><a href="buah.html">Buah Kakao</a></li>
                    <li><a href="services.html">Penanaman</a></li>
                    <li><a href="portfolio.html">Penjualan Kakao</a></li>
                    <li><a href="blog.html">Penjualan Olahan</a></li>
                    <li><a href="blog.html">Penjualan Bibit Kakao</a></li>
                </ul>
            </div>
        </div><!--/.container-->
    </nav><!--/nav-->

</header><!--/header-->
<div class="content">
    <div class="container">
        <form class="col-sm-6 daftar-member">
        <h1 class="judul-form" style="color:black;">
                DATA BUAH KAKAO
            </h1>
            <hr class="cross-area">
            <div class="form-group">
                <label for="nama">Nama Kakao:</label>
                <input type="text" class="form-control" style="background-color:#AFA8A8;">
            </div>
            <div class="form-group">
                <label for="jk">Jenis Kakao:</label>
                <select class="form-control" id="jk" style="background-color:#AFA8A8;">
                    <option style="background-color:#AFA8A8;">Mulia</option>
                    <option style="background-color:#AFA8A8;">Lindak</option>
                </select>
            </div>
            <div class="form-group">
                <label for="nama">Warna Biji:</label>
                <input type="text" class="form-control" style="background-color:#AFA8A8;">
            </div>
            <div class="form-group">
                <label for="alamat">Penyerbukan:</label>
                <textarea type="text" class="form-control" id="alamat" rows="5" style="background-color:#AFA8A8;"></textarea>
            </div>
            <div class="form-group">
                <label for="email">Berat Biji:</label>
                <input type="text" class="form-control" style="background-color:#AFA8A8;">
            </div>
            <button type="submit" class="btn btn-primary">Simpan</button>
            <button type="submit" class="btn btn-warning">Cancel</button>
        </form>
    </div>
</div>


<footer id="footer" class="midnight-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                &copy; 2016 <a target="_blank">CACAO TALK</a>. All Rights Reserved.
            </div>
        </div>
    </div>
</footer><!--/#footer-->

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<script src="js/jquery.isotope.min.js"></script>
<script src="js/main.js"></script>
<script src="js/wow.min.js"></script>
</body>
</html>